.flex_algin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
}

.label {
  margin: 1rem;
  font-weight: 700;
}

.center {
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
}
